@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');

/* asi como lo muestra? */

* {
    box-sizing: border-box
}

.superContener{
    display: flex;
    flex-wrap: wrap;
}

/*Solo en la parte del contendor  no en toda la pantalla*/
.contener{
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left:0;
    background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url('../../assets/Image/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}

.row{
    width: 100vw;
    padding: 0, 10px;
    min-width: 250px;
    margin-right: 10px;
    padding-left: 20px;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    position: relative;
    z-index: 1;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-right: 30px;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    padding: 10px 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.navbar ul li a:hover{
    background-color: #5d88d5 ;
}

.navbar h1{
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    margin-left: 30px;
}

.content{
    width: 100%;
    margin-top: 10%;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.content p{
    margin-top: 0;
}

.content h1{
    margin-bottom: 10px;
    
}

.content a{
    padding: 10px 30vh;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: #000;
    text-decoration: none;
    background-color: #ffffff ;
    text-align: center;
    min-width: 250px;
    min-height: 30px;
}

.content a:hover{
    background-color: #2d508f ;
    color: #fff;
}

#about {
    height: 100vh;
    background: #000000;
}

.col{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
}

.rowA{
    width: 100vw;
    display: flex;
    flex-direction: row;
    
}

.imagen{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}


#title{
    font-size: 60px;
    color: #fff;
    margin-bottom: 40px;
}

#subtitle{
    margin-top: -50px;
    color: #fff;
}

#paragraph{
    width: 90%;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 50px;
}

#btn{
    padding: 10px 30vh;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: #000;
    text-decoration: none;
    background-color: #E2ECFF ;
}

#btn:hover{
    background-color: #2d508f ;
    color: #fff;
}


#about a{
   margin-top: -30px;
}

#about-two{
    height: 100vh;
    background: #ffffff;
}

#titleTwo{
    font-size: 60px;
    color: #000000;
    margin-bottom: 40px;
}

#subtitleTwo{
    margin-top: -50px;
    color: #000;
}

#paragraphTwo{
    width: 90%;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 50px;
    color: #000;
}

/* Responsive styles */

@media screen and (max-width: 768px) {
    .row {
      margin-left: 0;
    }
  
    .content {
      margin-top: 20%;
    }
  
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 20px;
    }
  
    .navbar ul {
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 0;
    }
  
    .navbar ul li {
      margin: 10px 0;
    }
  
    .superContener {
      
    }
  
    .contener {
        
        height: 100vh;
    }
  
    #about,
    #about-two {
      height: auto;
    }
  
    #about-two #titleTwo {
        margin-top: -1px;
    }
    .col {
      width: 100%;
    }
  
    #title,
    #subtitle,
    #paragraph,
    #titleTwo,
    #subtitleTwo,
    #paragraphTwo {
      font-size: 18px;
    }
    
    #title, #titleTwo{
        font-size: 30px;
        margin-bottom: 50px;
    }

    .content a {
      padding: 10px 10px;
      margin-bottom: 10px;
      margin-right: 30px;
    }

    .content p{
        margin-right: 30px;
    }

    #btn{
        padding: 10px 50px;
        margin-bottom: 20px;
    }
    
    
    /* Cambiamos la regla .rowA para que tenga un display de block */
    #about .rowA,
    #about-two .rowA {
      display: block;
    }
    
    /* Hacemos que las imágenes ocupen el 100% del ancho de su contenedor */
    .imagen {
        width: 100%;
        height: auto;
        margin-bottom: 40px;
    } 
}
