.respuesta{
    border-color: #942d08;
    border-style: solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 1px;
    color: #942d08;
    margin-bottom: 5px;
}

.respuesta_active{
    background-color: #942d08;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 1px;
    color:aliceblue;
    margin-bottom: 5px;
}

.respuesta:hover{
    cursor: pointer;
    background-color: #942d08;
    color: aliceblue;
}